<div class="pure-g-r" id="layout">
	<div class="sidebar pure-u">
		<header class="header">
			<!-- Header -->
			<hgroup>
				<h2 class="app-title">Schedulizer</h2>
			</hgroup>

			<!-- Navigation Bar -->
			<nav class="nav">
				<ul class="nav-list">
					<li class="nav-item"><a href="#schedule">Schedule</a></li>
					<li class="nav-item"><a href="#calendar">Calendar</a></li>
					<li class="nav-item"><a href="#employee">Employees</a></li>
					<li class="nav-item"><a href="#job">Jobs</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div class="pure-u-1">

		<!-- Page Body -->
		<div id="page">
			<div class="Home">
				<header class="page-header">Schedulizer</header>

				<div class="pure-g-r content">
					<div class="pure-u">
						<h3>Schedule Your Shit, Jus Like Dat</h3>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="footer">
			<div class="pure-menu pure-menu-horizontal pure-menu-open">
				<ul>
					<li>&copy; 2013, Ben and Rachel</li>
				</ul>
			</div>
		</footer>
	</div>
</div>