<div class="Calendar">
	<header class="page-header">Calendar</header>

	<div class="pure-g-r content">
		<div class="pure-u-1-5">
			<h4>Jobs</h4>
			<div class='events'></div>
		</div>

		<div class="pure-u-4-5">
			<div class="calendar"></div>
		</div>

		<div class="pure-u-2-3 employee-form">
			<form class="pure-form pure-form-aligned">
				<fieldset>
					<div class="pure-controls">
						<button type="submit" class="pure-button pure-button-active save-calendar">Save</button>
						<button type="submit" class="pure-button pure-button-active schedule">Schedule!</button>
					</div>
				</fieldset>
			</form>
		</div>

		<div class="schedule-results">
			No results yet.
		</div>
	</div>
</div>