<div class="Job">
	<header class="page-header">Jobs</header>

	<div class="pure-g-r content">
		<div class="pure-u-1-3">
			<h3>List of Jobs</h3>
			<div class="job-list">
				<ul></ul>
				<br /><a>Add New Job</a>
			</div>
		</div>

		<!-- Form -->
		<div class="pure-u-2-3 job-form">
			<form class="pure-form pure-form-aligned">
				<fieldset>
					<div class="pure-control-group">
						<label for="job-name">Name</label>
						<input type="text" class="form-control" id="job-name" placeholder="Enter name" />
					</div>

					<div class="pure-controls">
						<input type="hidden" id="job-id" value="" />
						<button type="submit" class="pure-button pure-button-active job-form-submit">Add Job</button>
						<button type="submit" style="display:none;" class="pure-button pure-button-active job-delete">Delete Job</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>