<div class="pure-g-r" id="layout">
	<div class="sidebar pure-u">
		<header class="header">
			<hgroup>
				<h2 class="brand-title">PSUKnowHow Schedule Maker</h2>
			</hgroup>

			<nav class="nav">
				<ul class="nav-list">
					<li class="nav-item active"><a href="#employee">Employees</a></li>
					<li class="nav-item"><a href="#shift">Shifts</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="pure-u-1">

		<!-- Content Body -->
		<div id="content"></div>

		<footer class="footer">
			<div class="pure-menu pure-menu-horizontal pure-menu-open">
				<ul>
					<li>&copy; 2013, Ben and Rachel</li>
				</ul>
			</div>
		</footer>
	</div>
</div>